:root {
  --pColor: #383838; 
  --textColor: white; 
}

body {
  background-color: var(--pColor); 
  color: var(--textColor); 
}

h1 {
  text-align: center;
  font-size: 32px; 
  font-weight: bold; 
}
